*{
    margin: 0;
    padding: 0;
}
/* Styling the body */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Styling the header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: aquamarine;
}

/* Styling paragraphs */
p {
    margin-bottom: 15px;
}

/* Styling links */
a {
    color: #007bff;
    text-decoration: none;
}


/* Styling images */
img {
    vertical-align: middle;
    margin-right: 10px;
}

/* Styling the college names */
b {
    color: black;
}

/* Styling the college rankings */
ol {
   list-style-type: decimal;
    margin-left: 20px;
}

/* Styling the college list items */
li {
    margin-bottom: 10px;
}
